.footer_container{

 background-color: black;
 color: gray;
 display: flex;
 justify-content: center;

 /* align-items: center; */
}
.footerInline{
    width: 80%;
}
.footerIcons{
 width: 9%;
 color: #fff;
 display: inline-flex;
 justify-content: space-between;
}

.footerFlex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 10px;
}

.footerFlex ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
    /* align-items: center; */
    list-style: none;
}